.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.tachado{
    text-decoration:line-through;
    color: rgb(162, 162, 162);
  }